@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,*::before,*::after
{
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 16px;
    box-sizing: border-box;
}

:root
{
    --main-ui-colour: #212529;
    --main-border-colour: #ffffff;
    --main-bg: #343a40;
    --main-ui-colour-darker: #16181b;
    --hover-highlight: #FDFFB4;
    --active-light: #1bfc06;
}

body
{
     font-family: "Roboto", sans-serif;
}

nav,footer
{
    padding: 1rem 2rem;
    background-color: var(--main-ui-colour);
}

nav h1
{
     font-size: 2rem;
     color: white;
}


main
{
    background-color: var(--main-bg);
}

.button-reset
{
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

.grid
{
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(60, 25px);
    grid-template-columns: repeat(75, 25px);
    border-radius: 5px;
}

.grid-main-canvas--slider
{
    grid-row: 1/27;
    grid-column: 1/32;
    display: grid;
    grid-template-rows: repeat(27, 25px);
    grid-template-columns: repeat(32, 25px);
}

.canvas-container
{
    grid-row: 1/24;
    grid-column: 1/32;
    padding: 0.4rem;
    border-radius: 5px 5px 0 0;
    background-color: var(--main-ui-colour);
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightness-container
{
    grid-row: 24/27;
    grid-column: 1/32;
    padding: 1rem 2rem;
    background-color: var(--main-ui-colour);
    color: var(--main-border-colour);
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    gap: 0 2rem;
    align-items: center;
}

.lightness-container p {
    font-size: 1.5rem;
    font-weight: bold;
    flex-basis: 10%;
}

.lightness-range
{
  flex-basis: 80%;
  -webkit-appearance: none;
  height: 6px;
  border-radius: 3px;
  background: white;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s;

}

.lightness-range::-webkit-slider-thumb
{
   -webkit-appearance: none;
   appearance: none;
   background-color: #343A40;
   border: 2px solid #efefef;
   width: 25px;
   height: 25px;
   border-radius: 5px; 
   cursor: pointer;
}

canvas
{
    cursor: crosshair;
    border: 3px solid var(--main-border-colour);
}

.grid-main-colour-selection
{
    grid-row: 1/10;
    grid-column: 33/44;
    display: flex;
    justify-content: space-around;
    background-color: var(--main-ui-colour);
    border-radius: 5px 5px 0 0;
    color: white;
    padding: 0.6rem;
}

.selected-container
{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    padding-block: 1rem;
}

#selected-one-input,#selected-two-input
{
    width: 100px;
    height: 30px;
    background-color: var(--main-bg);
    padding: 0.6rem;
    border-radius: 5px;
    color: white;
}

.input-selected
{
    border: 2px solid white;
}

.error-input
{
    border: 2px solid red;
}

.grid-main-colour-history
{
    grid-row: 22/27;
    grid-column: 33/60;
    display: grid;
    grid-template-rows: repeat(5, 25px);
    grid-template-columns: repeat(27, 25px);
}

.colour-array
{
    display: flex;
    grid-row: 3/6;
    grid-column: 1/28;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 5px 5px 5px;
}

.colour-array-title
{
    display: flex;
    color: white;
    grid-row: 1/3;
    grid-column: 1/8;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}

.colour-history, .shade-pick, .shade-pick-c, .ana-pick-pos, .ana-pick-main, .ana-pick-neg, .mono-pick-pos, .mono-pick-main, .mono-pick-neg
{
    width: 50px;
    height: 50px;
    border: 2px solid var(--main-border-colour);
    background-color: #212529;
    border-radius: 5px;
}

.colour-history
{
    background-color: var(--main-ui-colour);
    cursor: pointer;
}

.colour-history:hover, .shade-pick:hover, .shade-pick-c:hover, .ana-pick-pos:hover, .ana-pick-main:hover, .ana-pick-neg:hover, .mono-pick-pos:hover, .mono-pick-main:hover, .mono-pick-neg:hover
{
    border: 2px solid var(--hover-highlight);
}

.grid-main-shades
{
    grid-row: 28/42;
    grid-column: 1/60;
    display: grid;
    grid-template-rows: repeat(24, 25px);
    grid-template-columns: repeat(75, 25px);
}

.complementary-shades
{
    background-color: var(--main-ui-colour);
    color: white;
    grid-row: 4/6;
    grid-column: 1/9;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.complementary-shades p
{
    font-weight: bold;
}

.shades
{
    grid-row: 6/9;
    grid-column: 1/16;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 5px 0 0;
}

.c-shades
{
    grid-row: 9/12;
    grid-column: 1/16;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 0 5px 5px;
}

.analogous-shades
{
    background-color: var(--main-ui-colour);
    color: white;
    grid-row: 4/6;
    grid-column: 17/25;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.analogous-shades p 
{
 font-weight: bold;
}

.shades-ana-pos
{
    grid-row: 6/9;
    grid-column: 17/32;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 5px 0 0;
}
.shades-ana-main
{
    grid-row: 9/12;
    grid-column: 17/32;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 0 0 0;
}
.shades-ana-neg
{
    grid-row: 12/15;
    grid-column: 17/32;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 0 5px 5px;
}

.mono-shades
{
    background-color: var(--main-ui-colour);
    color: white;
    grid-row: 4/6;
    grid-column: 33/42;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mono-shades p 
{
 font-weight: bold;
}

.shades-mono-pos
{
    grid-row: 6/9;
    grid-column: 33/48;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 5px 0 0;
}

.shades-mono-main
{
    grid-row: 9/12;
    grid-column: 33/48;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 0 0 0;
}

.shades-mono-neg
{
    grid-row: 12/15;
    grid-column: 33/48;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 0 5px 5px;
}


.hover-colour
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    pointer-events: none;
}

.colour-display-none
{
    display: none;
}




.box{
    width: 100px;
    height: 100px;
    min-height: 100px;
    border-radius: 5px;
    border: 2px solid var(--main-border-colour);
}
.box2{
    width: 100px;
    height: 100px;
    min-height: 100px;
    border-radius: 5px;
    background-color: #efefef;
    border: 2px solid var(--main-border-colour);  
}

.box:hover,.box2:hover
{
    border: 5px solid var(--hover-highlight);
}

.text-button
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg);
    padding: 0.6rem;
    border-radius: 5px;
    border: 2px solid white;
    margin-top: 0.4rem;
    width: 80%;
    color: white;
}

.text-button:hover
{
    background-color: var(--main-ui-colour);
}

.grid-main-colour-selection-text
{
    grid-row: 10/21;
    grid-column: 33/44;
    display: flex;
    flex-direction: column;
    align-items:normal;
    justify-content: center;
    
    background-color: var(--main-ui-colour);
    color: white;
    padding: 0.8rem;
    gap: 0.8rem;
    border-radius: 0 0 5px 5px;
}


.activeSelected
{
    border: 5px solid var(--active-light);
}

.shades-header
{
    background-color: var(--main-ui-colour);
    color: white;
    grid-row: 1/3;
    grid-column: 1/6;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.grid-main-colour-accessibly
{
    background-color: var(--main-ui-colour);
    color: white;
    grid-row: 1/21;
    grid-column: 45/60;
    border-radius: 5px;
    padding: 1rem;

    display: grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(5,1fr);
}

.accessibly-header
{
    grid-row: 1/2;
    grid-column: 1/6;
}

.accessibly-white-header
{
    grid-row: 5/7;
    grid-column: 1/6;
}

.accessibly-black-header
{
    grid-row: 12/13;
    grid-column: 1/6;
}

.accessibly-other-header
{
    grid-row: 19/21;
    grid-column: 1/6;
}

.white-normal
{
    
    grid-row: 3/4;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg);
    border: 2px solid white;
    border-radius: 5px;
    padding: 0.4rem;
}

.white-large
{
    grid-row: 3/4;
    grid-column: 4/6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg);
    border: 2px solid white;
    border-radius: 5px;
    padding: 0.4rem;
}


.accessibly-white-container1,.accessibly-white-container2,.accessibly-black-container1,.accessibly-black-container2,.accessibly-other-container1,.accessibly-other-container2
{
    border-radius: 5px;
    border: 2px solid white;
    background-color: var(--main-bg);
    padding: 0.4rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.accessibly-white-container1
{
    grid-row: 7/11;
    grid-column: 1/3;
}

.accessibly-white-container2
{
    grid-row: 7/11;
    grid-column: 4/6;
}

.accessibly-black-container1
{
    grid-row: 14/18;
    grid-column: 1/3;
}

.accessibly-black-container2
{
    grid-row: 14/18;
    grid-column: 4/6;
}

.accessibly-other-container1
{
    grid-row: 21/25;
    grid-column: 1/3;
}

.accessibly-other-container2
{
    grid-row: 21/25;
    grid-column: 4/6;
}

.acc-results
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.palettes-header
{
    grid-row: 43/45;
    grid-column: 1/12;
    background-color: var(--main-ui-colour);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.palettes-container
{
    grid-row: 46/58;
    grid-column: 1/60;
    background-color: var(--main-ui-colour);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: start;
    padding: 1rem;
    column-gap: 2rem;
    row-gap: 1rem;
}

.palette
{
    width: 400px;
    column-gap: 0.6rem;
    height: 120px;
    background-color: var(--main-ui-colour-darker);
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 0.4rem;

}

.palette-colour-container
{
    flex-basis: 65px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    font-weight: bold;
    row-gap: 0.4rem;
}

.palette-colour-container p 
{
    background-color: var(--main-bg);
    padding: 0.4rem;
    border-radius: 5px;
}

.tab
{
    top: 10px;
    left: 50%;
    transform: translate(-50%,0);
    position: fixed;
    background-color: #54ce70;
    border-radius: 5px;
    padding: 1rem;
    font-weight: bold;
}

.colour-pal
{
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

@media (min-width: 1800px) {
    .grid
{
    padding: 1.2rem;
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-rows: repeat(60, 25px);
    grid-template-columns: repeat(60, 25px);
}
}
@media (max-width: 1200px) {
.grid
{
    padding: 1.2rem;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(125, 25px);
    grid-template-columns: repeat(60, 25px);
}

.grid-main-canvas--slider
{
    grid-row: 1/28;
    grid-column: 1/32;
    grid-template-rows: repeat(27, 25px);
    grid-template-columns: repeat(32, 25px);
}

.grid-main-colour-selection
{
    grid-row: 34/43;
    grid-column: 3/14;
    
}

.grid-main-colour-selection-text
{
    grid-row: 43/54;
    grid-column: 3/14;
}

.grid-main-colour-accessibly
{
    grid-row: 34/54;
    grid-column: 15/30;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(5,1fr);
}

.grid-main-colour-history
{
    grid-row: 28/33;
    grid-column: 3/30;
    grid-template-rows: repeat(5, 25px);
    grid-template-columns: repeat(27, 25px);
}

.grid-main-shades
{
    grid-row: 55/82;
    grid-column: 1/32;
    grid-template-rows: repeat(27, 25px);
    grid-template-columns: repeat(75, 25px);
}

.mono-shades
{
    grid-row: 16/18;
    grid-column: 1/9;
}

.shades-mono-pos
{
    grid-row: 18/21;
    grid-column: 1/16;
}
.shades-mono-main
{
    grid-row: 21/24;
    grid-column: 1/16;
}
.shades-mono-neg
{
    grid-row: 24/27;
    grid-column: 1/16;
}

.palettes-header
{
    grid-row: 83/85;
    grid-column: 1/12;
    
}

.palettes-container
{
    grid-row: 86/120;
    grid-column: 5/28;
    display: flex;
    justify-content: center;
    align-items: center;
}


}

@media (max-width: 768px){

.grid
{
    padding: 1.2rem;
    width: 100%;
    grid-template-rows: repeat(125, 25px);
    grid-template-columns: repeat(15, 25px);
    border-radius: 5px;
}

.grid-main-canvas--slider
{
    grid-row: 1/12;
    grid-column: 1/16;
    grid-template-rows: repeat(11, 25px);
    grid-template-columns: repeat(15, 25px);
}

.canvas-container
{
    grid-row: 1/12;
    grid-column: 1/16;
}

.lightness-container
{
    grid-column: 1/16;
    padding: 1rem 2rem;
}

.grid-main-colour-history
{
    grid-row: 15/23;
    grid-column: 1/16;
    grid-template-rows: repeat(8, 25px);
    grid-template-columns: repeat(15, 25px);
}

.colour-array
{
    flex-wrap: wrap;
    grid-row: 3/9;
    grid-column: 1/16;
}

.grid-main-colour-selection
{
    grid-row: 24/33;
    grid-column: 1/16;   
}

.grid-main-colour-selection-text
{
    grid-row: 33/44;
    grid-column: 1/16; 
}

.grid-main-colour-accessibly
{
    grid-row: 45/65;
    grid-column: 1/16;
}

.grid-main-shades
{
    grid-row: 66/101;
    grid-column: 1/16;
    grid-template-rows: repeat(35, 25px);
    grid-template-columns: repeat(16, 25px);
}

.complementary-shades
{
    grid-row: 4/6;
    grid-column: 1/9;
}

.shades
{
    grid-row: 6/9;
    grid-column: 1/16;
}

.c-shades
{
    grid-row: 9/12;
    grid-column: 1/16;
}

.analogous-shades
{
    grid-row: 13/15;
    grid-column: 1/9;
}

.shades-ana-pos
{
    grid-row: 15/18;
    grid-column: 1/16;
}
.shades-ana-main
{
    grid-row: 18/21;
    grid-column: 1/16;
}
.shades-ana-neg
{
    grid-row: 21/24;
    grid-column: 1/16;
}

.mono-shades
{
    grid-row: 25/27;
    grid-column: 1/9;
}

.shades-mono-pos
{
    grid-row:27/30;
    grid-column: 1/16;
}
.shades-mono-main
{
    grid-row:30/33;
    grid-column: 1/16;
}
.shades-mono-neg
{
    grid-row:33/36;
    grid-column: 1/16;
}


.palettes-header
{
    grid-row: 102/104;
    grid-column: 1/12;
}

.palettes-container
{
    grid-row: 105/139;
    grid-column: 1/16;
}

.palette
{
    width: 400px;
    column-gap: 0.2rem;
    height: 120px;
}

.palette-colour-container
{
    flex-basis: 60px;
    justify-content: center;
    align-items: center;
    row-gap: 0;
}

.colour-pal
{
    width: 60px;
    height: 60px;
}

 }

@media (max-width: 400px){

    
.grid
{
    padding: 2rem 0;
    width: 100%;
    grid-template-rows: repeat(125, 25px);
    grid-template-columns: repeat(15, 25px);
    border-radius: 5px;
}
}