*,*::before,*::after
{
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 16px;
    box-sizing: border-box;
}

main
{
    background-color: grey;
}
.grid
{
    background-color: white;
    padding: 1rem;
    width: 100%;
    display: flex;
}


canvas
{
    border: 1px solid black;
    cursor: crosshair;
}


.box{
    width: 100px;
    height: 100px;
}