@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,*::before,*::after
{
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 16px;
    box-sizing: border-box;
}

:root
{
    --main-ui-colour: #212529;
    --main-border-colour: #ffffff;
    --main-bg: #343a40;
}

body
{
     font-family: "Roboto", sans-serif;
}

main
{
    background-color: var(--main-bg);
}

.grid
{
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(50, 25px);
    grid-template-columns: repeat(75, 25px);
    border-radius: 5px;
}

.canvas-container
{
    grid-row: 1/24;
    grid-column: 1/32;
    padding: 0.4rem;
    border-radius: 5px 5px 0 0;
    background-color: var(--main-ui-colour);
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightness-container
{
    grid-row: 24/27;
    grid-column: 1/32;
    padding: 1rem 2rem;
    background-color: var(--main-ui-colour);
    color: var(--main-border-colour);
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    gap: 0 2rem;
    align-items: center;
}

.lightness-container p {
    font-size: 1.5rem;
    font-weight: bold;
    flex-basis: 10%;
}

.lightness-range
{
  flex-basis: 80%;
  -webkit-appearance: none;
  height: 6px;
  border-radius: 3px;
  background: white;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s;

}

.lightness-range::-webkit-slider-thumb
{
   -webkit-appearance: none;
   appearance: none;
   background-color: #343A40;
   border: 2px solid #efefef;
   width: 25px;
   height: 25px;
   border-radius: 5px; 
   cursor: pointer;
}

canvas
{
    cursor: crosshair;
    border: 3px solid var(--main-border-colour);
}

.colour-picked
{
    grid-row: 1/9;
    grid-column: 33/44;
    display: flex;
    justify-content: space-around;
    background-color: var(--main-ui-colour);
    border-radius: 5px;
    color: white;
    padding: 0.6rem;
}

.selected-container
{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: flex-start;
    padding-block: 1rem;
}

.colour-array
{
    display: flex;
    grid-row: 24/27;
    grid-column: 33/60;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 0 5px 5px;
}

.colour-array-title
{
    display: flex;
    color: white;
    grid-row: 22/24;
    grid-column: 33/40;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}

.colour-history, .shade-pick, .shade-pick-c, .ana-pick-pos, .ana-pick-main, .ana-pick-neg
{
    width: 50px;
    height: 50px;
    border: 2px solid var(--main-border-colour);
    border-radius: 5px;
}

.complementary-shades
{
    background-color: var(--main-ui-colour);
    color: white;
    grid-row: 31/33;
    grid-column: 1/9;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.complementary-shades p
{
    font-weight: bold;
}

.shades
{
    grid-row: 33/36;
    grid-column: 1/16;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 5px 0 0;
}

.c-shades
{
    grid-row: 36/39;
    grid-column: 1/16;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 0 5px 5px;
}

.analogous-shades
{
    background-color: var(--main-ui-colour);
    color: white;
    grid-row: 31/33;
    grid-column: 17/25;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.analogous-shades p 
{
 font-weight: bold;
}

.shades-ana-pos
{
    grid-row: 33/36;
    grid-column: 17/32;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 5px 0 0;
}
.shades-ana-main
{
    grid-row: 36/39;
    grid-column: 17/32;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 5px 0 0;
}
.shades-ana-neg
{
    grid-row: 39/42;
    grid-column: 17/32;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 5px 0 0;
}


.hover-colour
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    pointer-events: none;
}

.colour-display-none
{
    display: none;
}


.button-reset
{
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

.box{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid var(--main-border-colour);
}
.box2{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: #efefef;
    border: 2px solid var(--main-border-colour);  
}

.colour-paste
{
    background-color: var(--main-bg);
    padding: 0.6rem;
    border-radius: 5px;
    border: 2px solid white;
    margin-top: 0.4rem;
    width: 80%;
    color: white;
}

.colours-picked-text
{
    grid-row: 10/21;
    grid-column: 33/44;
    display: flex;
    flex-direction: column;
    align-items:normal;
    justify-content: center;
    
    background-color: var(--main-ui-colour);
    color: white;
    padding: 0.8rem;
    gap: 0.8rem;
    border-radius: 5px;
}


.activeSelected
{
    border: 5px solid white;
}

.shades-header
{
    background-color: var(--main-ui-colour);
    color: white;
    grid-row: 28/30;
    grid-column: 1/6;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.accessibly-container
{
    background-color: var(--main-ui-colour);
    color: white;
    grid-row: 1/21;
    grid-column: 45/60;
    border-radius: 5px;
    padding: 1rem;
}