*,*::before,*::after
{
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 16px;
    box-sizing: border-box;
}

:root
{
    --main-ui-colour: #212529;
    --main-border-colour: #ffffff;
    --main-bg: #343a40;
}

main
{
    background-color: var(--main-bg);
}

.grid
{
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(36, 25px);
    grid-template-columns: repeat(75, 25px);
    border-radius: 5px;
}

.canvas-container
{
    grid-row: 1/24;
    grid-column: 1/32;
    padding: 0.4rem;
    border-radius: 5px 5px 0 0;
    background-color: var(--main-ui-colour);
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightness-container
{
    grid-row: 24/26;
    grid-column: 1/32;
    padding: 1rem;
    background-color: var(--main-ui-colour);
    color: var(--main-border-colour);
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lightness-container p {
    font-size: 1.5rem;
    font-weight: bold;
}

.lightness-range
{
    width: 80%;
}

canvas
{
    cursor: crosshair;
    border: 3px solid var(--main-border-colour);
}

.colour-picked
{
    grid-row: 1/8;
    grid-column: 33/44;
    display: flex;
    justify-content: space-around;
    background-color: var(--main-ui-colour);
    border-radius: 5px;
    color: white;
    padding: 0.6rem;
}

.selected-container
{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: flex-start;
    padding-block: 1rem;
}

.colour-array
{
    display: flex;
    grid-row: 27/30;
    grid-column: 1/32;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 5px;
}

.colour-history, .shade-pick, .shade-pick-c, .ana-pick-pos, .ana-pick-main, .ana-pick-neg
{
    width: 50px;
    height: 50px;
    border: 2px solid var(--main-border-colour);
    border-radius: 5px;
}

.complementary-shades
{
    background-color: var(--main-ui-colour);
    color: white;
    grid-row: 1/3;
    grid-column: 45/52;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.complementary-shades p
{
    font-weight: bold;
}

.shades
{
    grid-row: 3/6;
    grid-column: 45/60;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 5px 0 0;
}

.c-shades
{
    grid-row: 6/9;
    grid-column: 45/60;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 0 5px 5px;
}

.analogous-shades
{
    background-color: var(--main-ui-colour);
    color: white;
    grid-row: 10/12;
    grid-column: 45/52;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.analogous-shades p 
{
 font-weight: bold;
}

.shades-ana-pos
{
    grid-row: 12/15;
    grid-column: 45/60;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 5px 0 0;
}
.shades-ana-main
{
    grid-row: 15/18;
    grid-column: 45/60;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 5px 0 0;
}
.shades-ana-neg
{
    grid-row: 18/21;
    grid-column: 45/60;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-ui-colour);
    border-radius: 0 5px 0 0;
}


.hover-colour
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    pointer-events: none;
}

.colour-display-none
{
    display: none;
}


.button-reset
{
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

.box{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid var(--main-border-colour);
}
.box2{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: #efefef;
    border: 2px solid var(--main-border-colour);  
}

.colour-paste
{
    background-color: var(--main-bg);
    padding: 0.6rem;
    border-radius: 5px;
    border: 2px solid white;
    margin-top: 0.4rem;
    width: 80%;
    color: white;
}

.colours-picked-text
{
    grid-row: 9/12;
    grid-column: 33/44;
    background-color: var(--main-ui-colour);
    padding: 0.6rem;
    border-radius: 5px;
}